
.element {
    background: var(--background-color-element);
    position: relative;
}

#h-bar {
    width: 210px;
    height: 30px;
    top: 52px;
    left: 87px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.v-bar{
    width: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}

#bar1 {
    height: 90px;
    top: 52px;
    left: 87px; 
}

#bar2 {
    height: 120px;
    top: -38px;
    left: 132px; 
}

#bar3 {
    height: 150px;
    top:-158px;
    left: 177px; 
}

#bar4{
    height: 120px;
    top:-308px;
    left: 222px;
    
}
#bar5{
    height: 80px;
    top:-428px;
    left: 267px;
}