/* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BattleCSS</title>
    <link rel="stylesheet" href="15022024.css">
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="bar" id="h-bar1"></div>
            <div class="bar" id="h-bar2"></div>
            <div class="bar" id="h-bar3"></div>
            <div class="bar" id="h-bar4"></div>
            <div class="bar" id="h-bar5"></div>
        </div>
    </div>
</body>
</html> */


.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar{
    background: var(--bg-color-element);
    position: relative;
}

#h-bar1{
    width: 40px;
    height: 20px;
    top: 60px;
}

#h-bar2{
    width: 120px;
    height: 35px;
    top: 60px;
}

#h-bar3{
    width: 200px;
    height: 35px;
    top: 80px;
}

#h-bar4{
    width: 120px;
    height: 35px;
    top: 100px;
}

#h-bar5{
    width: 40px;
    height: 20px;
    top: 100px;
    
}